[MASTER]
ignore=venv,docs

disable=
    too-few-public-methods,
    no-name-in-module,
    import-error,
    global-statement,
    invalid-name, # Blender conventions conflict with this

[FORMAT]
max-line-length=120